#!/usr/bin/env bash
MAILCOW_HOSTNAME={{ mc_fqdn }}
MAILCOW_TZ={{ mc_timezone }}
SKIP_CLAMD={{ mc_skip_clamd }}
SKIP_SOLR={{ mc_skip_solr }}

echo '# Placeholder' > ./data/conf/rspamd/override.d/worker-controller-password.inc
