<?php

$_ENV['RAINLOOP_INCLUDE_AS_API'] = true;
include 'index.php';

$oConfig = \RainLoop\Api::Config();
$oConfig->SetPassword('{{ mc_rainloop_password }}');
echo $oConfig->Save() ? 'Done' : 'Error';

?>
